/** css do index */

#index {
    background: rgb(151, 151, 151);
}

:root{
--primary: #54e6ee;
--secondary: #f26bcf;
--third: #ffffff5e;
--black: #000000;
--white: #ffffff;
}

#page1 {
  background: #54e6ee;
  background: linear-gradient(90deg, #54e6ee 0%, #f26bcf 90%);
}
#page1-1 {
  background: #54e6ee;
  background: linear-gradient(90deg, #54e6ee 0%, #f26bcf 90%);
}

h1#index {
    text-align: center;
}

a#page1-1{
  text-align: center;
}

p {
    text-align: center;
}

img#index {

    border-radius: 50%;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img#page1-1 {

    border-radius: 50%;
    width: 10rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a:link, a:visited {
    
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: rgba(0, 0, 0, 0.267);
  }

    /* ********************************************************************** */

  /* cabeçalho */

  header {
    border-bottom: 0.4 rem solid var(--third);
    display: flex;
    height: 3rem;
  }

  header picture{
    margin-left: 0.5rem;
    padding: 0,5rem;
  }

  /* ********************************************************************** */

  /* Rodapé */

  footer{
    background-color: var(--third);
    height: 3rem;
  }

  footer img{
    height: 100%;
    padding: 0.4rem;
  }